# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDE settings
.idea/
.vscode/

# Local database files
subtitles.db
*.sqlite3

# Secrets - НИКОГДА не добавляйте ключи API в Git!
.env